/*
    FOOTER.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.footer-bottom {
	background: $primary-color;
	color: white;
	text-align: center;
	padding: rem-calc(60 0 40 0);
}

.footer-middle {
	// height: rem-calc(200);
	// overflow: hidden;
	line-height: 0;

	@media #{$medium-up} {
	    // height: rem-calc(390);
	}
}

//=========================================
// Special
//=========================================

// .footer .headline {
// 	// margin-bottom: rem-calc(30);
// }