/*
    FORMS.CSS

    - Last updated: 03.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$grey-border-color: #DEDEDE;

//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------

.lv-super input[type=date],
.lv-super input[type=text],
.lv-super input[type=email],
.lv-super .file-attachment,
.lv-super select,
.lv-super textarea,
.lv-super .file-attachment-box textarea {
	padding: 20px;
	height: rem-calc(70);
	margin-bottom: rem-calc(30);
}

.lv-super form small {
	font-size: rem-calc(11);
}

//=========================================
// Select
//=========================================

.lv-super .select {
	width: 100%;
	border-radius: 0;
	margin-bottom: rem-calc(30);
}

.lv-super .select select {
	background: #FAFAFA;
	border: 2px solid $grey-border-color;
}

.lv-super .error select {
	margin-bottom: 0;
}

//=========================================
// Checkbox
//=========================================

.radio,
.checkbox {
	@extend .lv-unselectable;
	margin-bottom: rem-calc(40);

	&.has-open-dropdown {
		margin-bottom: 0;
	}
}

.radio {
	margin-bottom: rem-calc(20);
}

//=========================================
// File
//=========================================

.file {
	width: 100%;
	margin-bottom: 0;
}

//=========================================
// Textarea
//=========================================

.lv-super textarea {
	height: rem-calc(134);
}

//=========================================
// Dropdown Delivery - special case
//=========================================

[data-dropdown="delivery"] {
	margin-top: -40px;
}

//=========================================
// Abide Errors
//=========================================

.lv-super .error {
	input, textarea {
		margin-bottom: 0;
	}
	small.error {
		margin-bottom: rem-calc(30);
	}
}

[aria-invalid="false"] {
	margin-bottom: 0;
}

//=========================================
// File Upload
//=========================================

.lv-super .file-attachment {
	border: 2px solid $grey-border-color;

	@media #{$large-up} {
	    margin-bottom: 0;
	}
}

.lv-super .file-attachment-box {
	border-top: 1px solid $grey-border-color;
	border-bottom: 1px solid $grey-border-color;
	margin-bottom: rem-calc(20);
	padding: rem-calc(20 0);

	p {
		margin-bottom: rem-calc(20);

		@media #{$large-up} {
		    line-height: rem-calc(70);
		    margin-bottom: 0;
		}
	}

	.file-attachment-box-note {
		font-size: rem-calc(14);
		color: #222;
	}
}

.lt-ie10 input[type=file] {
	padding: 0;
}

//=========================================
// Newsletter
//=========================================

.input-newsletter {
	margin-bottom: rem-calc(30);

	input {
		margin-bottom: 0;
		padding: 0;
	}
}

//=========================================
// Form Dropdown - controlled by checkboxes
//=========================================

// .form-dropdown


