/*
    FORMS.CSS

    - Last updated: 02.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------

.lv-super input[type=date],
.lv-super input[type=text],
.lv-super input[type=email],
.lv-super .file-attachment,
.lv-super select,
.lv-super textarea {
	padding: 20px;
	height: rem-calc(70);
	margin-bottom: rem-calc(15);
}

.lv-super form small {
	font-size: rem-calc(11);
	opacity: 0;
}

//=========================================
// Checkbox
//=========================================

.lv-super .checkbox {
	position: relative;
	top: 15px;
	// margin-bottom: rem-calc(30);
}

//=========================================
// Select
//=========================================

.lv-super .select {
	width: 100%;
	border-radius: 0;
	// margin-bottom: rem-calc(30);
}

.lv-super .select select {
	background: #FAFAFA;
	border: 2px solid #DEDEDE;
}

//=========================================
// File
//=========================================

.lv-super .file {
	width: 100%;
	margin-bottom: rem-calc(10);
}

//=========================================
// Textarea
//=========================================

.lv-super textarea {
	height: rem-calc(134);
}

//=========================================
// Abide Errors
//=========================================

.lv-super .error {
	input, textarea {
		margin-bottom: 0;
	}
	small.error {
		margin-bottom: rem-calc(30);
	}
}

[aria-invalid="false"] {
	margin-bottom: 0;
}

//=========================================
// File Upload
//=========================================

.lv-super .file-attachment {
	border: 2px solid #DEDEDE;
	// height: auto;
}

.lt-ie10 input[type=file] {
	padding: 0;
}

.input-newsletter {
	margin-bottom: rem-calc(30);

	input {
		margin-bottom: 0;
		padding: 0;
	}
}

//=========================================
//
//=========================================