/*
    GALLERY.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$horizontal-slider-button-height: 50px;

//-----------------------------------------------------------------
// Image Gallery (Lightbox)
//-----------------------------------------------------------------

.gallery-module {
	@include block-grid($per-row: 2, $spacing: 6px, $base-style: true);

	@media #{$medium-up} {
	    @include block-grid($per-row: 4, $spacing: 6px, $base-style: true);
	}

	li {
		margin-bottom: 0;
	}
}

//-----------------------------------------------------------------
// Horizontal Slider
//-----------------------------------------------------------------

.horizontal-slider-module {
	margin-left: 0;

	li {
		text-align: center;
		padding: rem-calc(0 5);

		img {
			display: inline-block;
		}
	}

	.slick-prev:before,
	.slick-next:before {
		display: none;
		font-family: "FontAwesome";
		font-size: rem-calc(50);
		position: relative;
		top: -15px;

		@media #{$medium-up} {
		    display: block;
		}
	}

	.slick-prev:before {
		content: "\f104"
	}

	.slick-next:before {
		content: "\f105"
	}

	// .slick-dots button {
	// 	background: white;
	// 	border-radius: 100%;
	// 	height: 10px;
	// 	width: 10px;
	// 	text-align: center;
	// }
}

.swipe-right-icon {
	position: absolute;
	left: 0;
	bottom: -20px;
	background: url(../img/template/swipe-right.svg) no-repeat center;
	background-size: 40px;
	width: 100%;
	height: 40px;
}