@import "mixins";
/*
    HEADER.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$header-height-small: rem-calc(60) !default;
$header-height-medium: rem-calc(100) !default;

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.header {
	position: fixed;
	top: 0;
	width: 100%;

	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);

	background: $primary-color;
	height: $header-height-small;
	// transition: top 0.3s ease-out;
	z-index: 100;

	@media #{$medium-up} {
	    height: $header-height-medium;
	    background: none; // No white strip
	}
}

// No Longer needed
// .nav-up {
//     top: 0;
// }

//=========================================
// Vertical Center
//=========================================

.header .lv-vertical-center {
    position: relative;
    top: 50%; // to account for top margins of H1s
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

//=========================================
// Header Logo
//=========================================

.header .logo img {
	width: rem-calc(150);

	@media #{$medium-up} {
	    width: rem-calc(210);
	}
}

//=========================================
// Hamburger
//=========================================

.header-mobile-menu {
	// background: red;
	height: 100%;
	top: 0;
}

.hamburger {
	@include hamburger($width: 24px, $thickness: 4px, $color: white);

	@media #{$medium-up} {
		@include hamburger($width: 30px, $thickness: 4px, $color: white);
	}
}

//=========================================
// Header Strip - Creates the split effect
//=========================================

.header-strip-left {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: $primary-color;
	z-index: -1;

	@media #{$xlarge-up} {
	    width: 50%;
	}
}