/*
    HERO.CSS

    - Last updated: 12.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Fullscreen
//-----------------------------------------------------------------

.lv-hero-module {
	&.is-fullscreen {
		height: -moz-calc(100vh - #{$header-height-small});
		height: -webkit-calc(100vh - #{$header-height-small});
	    height: calc(100vh - #{$header-height-small});
	    // min-height: calc(100vh - #{$header-height-small});

	    @media #{$medium-up} {
	    	height: 668px; // Fallback for iPad io6
	    	height: -moz-calc(100vh - #{$header-height-medium});
	    	height: -webkit-calc(100vh - #{$header-height-medium});
	    	height: calc(100vh - #{$header-height-medium});
	        // min-height: calc(100vh - #{$header-height-medium});
	    }
	}
}

// Override liquidvisual

.is-fullscreen .lv-hero .lv-vertical-center {
    position: relative;
    top: 40%; // to account for top margins of H1s
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.lv-hero-module {
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.lv-hero {
		position: relative; // will this break?
	}
}

.lv-hero-caption {
	text-transform: uppercase;
	z-index: 1;
}

//-----------------------------------------------------------------
// Hint: Blue Overlay
//-----------------------------------------------------------------

// Targets medium
.promo-style .lv-hero .lv-vertical-center {
	@media #{$medium-up} {
	    position: relative;
	    top: 40; // to account for top margins of H1s
	    -webkit-transform: none;
	        -ms-transform: none;
	            transform: none;
	}
	@media #{$xlarge-up} {
	    position: relative;
	    top: 40; // to account for top margins of H1s
	    -webkit-transform: translateY(-50%);
	        -ms-transform: translateY(-50%);
	            transform: translateY(-50%);
	}
}

//=========================================
//
//=========================================

.lv-hero-module.promo-style {
	height: auto;

	@media #{$xlarge-up} {
	   height: rem-calc(900);
	}

	.lv-hero-caption {
		padding: rem-calc(30 0);
		margin: 0;
		width: 100%;
		text-align: center;
		background: $primary-color;

		h1, p {
			word-wrap: break-word;
		}

		p {
			@media #{$small-only} {
			    font-size: $paragraph-font-size;
			}
		}

		@media #{$xlarge-up} {
			width: auto;
			height: 900px;
		    padding: rem-calc(30 70);
		    float: right;
		    background: rgba($primary-color, .9);
		    text-align: left;
		}
	}
}

//-----------------------------------------------------------------
// Collage Style
//-----------------------------------------------------------------

.lv-hero-module.collage-style {
	background: #e1e1e1;

	@media #{$medium-up} {
	   height: auto;
	}

	.lv-hero {
		@include block-grid($per-row: 2, $spacing: 0, $base-style: true);

		@media #{$large-up} {
		    @include block-grid($per-row: 5, $spacing: 0, $base-style: true);
		}

		li {
			position: relative;
			margin: 0;
			cursor: pointer;
		}
	}

	.collage-info-panel {
		@include transition();
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: $primary-color;
		opacity: 0;
		color: white;
		padding: rem-calc(10);
		text-align: center;
		overflow: hidden;

		-moz-background-clip: border;     /* Firefox 3.6 */
		 -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
		 background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

		 -moz-background-clip: padding;     /* Firefox 3.6 */
		 -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
		 background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

		 -moz-background-clip: content;     /* Firefox 3.6 */
		 -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
		 background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

		 &.opacity-show {
		 	opacity: 1;
		 }

		.inner {
		    position: relative;
		    top: 50%; // to account for top margins of H1s
		    -webkit-transform: translateY(-50%);
		        -ms-transform: translateY(-50%);
		            transform: translateY(-50%);
		}

		h5 {
			color: white;
			font-size: rem-calc(12);

			@media #{$medium-up} {
			    font-size: rem-calc(14);
			}
		}

		a {
			color: white;
		}

		p {
			font-size: rem-calc(12);
			margin-bottom: rem-calc(10);

			@media #{$medium-up} {
			    font-size: rem-calc(14);
			}
		}
	}
}

//=========================================
// Hovers - uses JS - account for touch computers
//=========================================

@media #{$xlarge-up} {
    .lv-hero-module.collage-style .lv-hero li:hover .collage-info-panel {
    	opacity: 1;
    }
}