/*
    HOVER TABS.CSS

    - Last updated: 03.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$slider-triangle-size: 24px;

//-----------------------------------------------------------------
// Hover Tabs Module
//-----------------------------------------------------------------

.hover-tabs ul {
	list-style: none;
}

//-----------------------------------------------------------------
// Hover Tabs Nav
//-----------------------------------------------------------------

.hover-tabs-nav {
	@include block-grid($per-row: 1, $spacing: 15px, $base-style: true);

	@media #{$medium-only} {
	    @include block-grid($per-row: 2, $spacing: 15px, $base-style: true);
	}
}

//=========================================
// Buttons
//=========================================

.hover-tabs li .button {
	transition: none;
	position: relative;
	background: #E5E5E5;
	display: block;
	margin: 0;
	padding: rem-calc(0 20);
	line-height: $horizontal-slider-button-height;
	height: $horizontal-slider-button-height;
	border: 1px solid #9BA1AA;

	color: $secondary-color;
	text-transform: uppercase;
	font-size: rem-calc(15);
	font-weight: bold;
	text-align: left;
	border-radius: $global-radius;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	@media #{$large-up} {
		border-right: 0;
	    width: 310px;
	    min-width: 310px;
	    border-radius: $global-radius 0 0 $global-radius;
	    overflow: visible;
	}
}

.no-touch .hover-tabs .button:hover,
.hover-tabs .active .button {
	background: white;
}

.hover-tabs .active .button .arrow-box {
	border-left-color: white;
}

// CSS Arrow Boxes

@media #{$large-up} {
    // .arrow-box {
    // 	@include transition();
    // 	position: absolute;
    // 	top: 0;
    // 	right: -$slider-triangle-size*2;

    // 	border-top: $slider-triangle-size solid transparent;
    // 	border-right: $slider-triangle-size solid transparent;
    // 	border-bottom: $slider-triangle-size solid transparent;
    // 	border-left: $slider-triangle-size solid #E5E5E5;
    // }

    .arrow-box {
    	position: absolute;
    	top: 24px;
    	right: 0px;
    	background: red;
    	z-index: 1;
    }
    .arrow-box:after, .arrow-box:before {
    	left: 100%;
    	top: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    .arrow-box:after {
    	border-color: rgba(229, 229, 229, 0);
    	border-left-color: #E5E5E5;
    	border-width: 24px;
    	margin-top: -24px;
    }
    .arrow-box:before {
    	border-color: rgba(155, 161, 170, 0);
    	border-left-color: #9BA1AA;
    	border-width: 25px;
    	margin-top: -25px;
    }

    .no-touch .hover-tabs li .button:hover .arrow-box:after {
    	border-left-color: white;
    }
}

//-----------------------------------------------------------------
// Hover Tabs Images
//-----------------------------------------------------------------

.hover-tabs-images {
	margin-bottom: rem-calc(30);
	margin-left: 0;

	li {
		display: none;

		&:first-child {
			display: block;
		}
	}
}