@import "foundation/settings";
/*
    LIQUIDVISUAL MIXINS :: A Personal Framework

    - updated: 01.12.14
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Mixins
//-----------------------------------------------------------------

@mixin transition($property: "opacity, color, background") {
    -webkit-transition: all .15s linear;
       -moz-transition: all .15s linear;
         -o-transition: all .15s linear;
        -ms-transition: all .15s linear;
            transition: all .15s linear;

    -webkit-transition-property: $property;
       -moz-transition-property: $property;
         -o-transition-property: $property;
        -ms-transition-property: $property;
            transition-property: $property;
}

//=========================================
// Hamburger
//=========================================

@mixin hamburger($width: 16px, $thickness: 2px, $color: white) {
    position: absolute;
    top: 50%;
    right: rem-calc(15);
    display: block;
    width: $width + 4;
    height: $width;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    &:before,
    &:after,
    .hamburger-icon {
        content: "";
        position: absolute;
        width: 100%;
        height: $thickness;
        background: $color;
    }

    &:before { top: 0; }
    &:after  { bottom: 0; }

    .hamburger-icon {
        top: 50%;
        margin-top: -$thickness/2;
    }
}

html.mm-opening .hamburger:before,
html.mm-opening .hamburger:after {
    display: none;
}

.hamburger {
    @include hamburger();
}