/*
    NAVIGATION.CSS

    - Last updated: 12.04.18, 05.02.15 - removed no-touch
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

// Fixes glitch with MMenu changing viewport widths when scrollbar disappears
// html{
// 	overflow-y: scroll !important;
// }

//-----------------------------------------------------------------
// Topbar
//-----------------------------------------------------------------

.topbar {
	position: absolute;
	top: -33px;
	right: 0;
	margin: 0; // failsafe
}

.topbar ul {
	list-style: none;
}

.topbar > ul {
	background: white;
}

.topbar > ul > li {
	position: relative;
	display: table-cell;
}

.topbar > ul > li > .anchor {
	@include transition();
	display: block;
	line-height: rem-calc(100);
	padding: rem-calc(0 20);
	// background: white;
}

.topbar .anchor:hover,
.topbar li.active .anchor {
	background: #448ada; //$primary-color;
	color: white;
}

//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

.topbar .anchor {
	color: $secondary-color;
	text-transform: uppercase;
	font-size: rem-calc(14);
	cursor: pointer;
}

//=========================================
// Nested Dropdowns
//=========================================

.topbar .has-dropdown:hover > .anchor,
.topbar .has-dropdown:hover > a {
	background: $primary-color;
	color: white;
}

.topbar .dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: rem-calc(272);
	margin: 0;
	opacity: 0;
	height: 0; // so hit areas aren't triggered
	overflow: hidden; // so hit areas aren't triggered

	li {
		margin: 0;
	}
}

// Dropdown Color is here
.topbar .dropdown a {
	display: block;
	padding: rem-calc(10 15);
	background: #084A86; //darken($primary-color, 10%);
	color: white;
	font-size: rem-calc(14);

	&:hover {
		background: darken($primary-color, 15%);
		color: white;
	}
}

/* UX decision, dropdowns are fiddly on tablets */
.topbar .has-dropdown:hover > .dropdown {
	opacity: 1;
	height: auto;
	overflow: visible;
}