/*
    SOCIAL-NETWORKS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------

.social-networks {
	margin-bottom: rem-calc(30);

	a {
		display: inline-block;
		background: white;
		color: $primary-color;
		width: rem-calc(70);
		text-align: center;
		line-height: rem-calc(70);
		border-radius: 100%;
		font-size: rem-calc(40);
	}
}

.collage-info-panel .social-networks {
	a {
		width: rem-calc(30);
		line-height: rem-calc(30);
		font-size: rem-calc(16);
		background: #292828;
		color: white;
	}
}

.social-networks a:hover {
	@media #{$xlarge-up} {
	    background: darken($primary-color, 15%);
	    color: white;
	}
}

//=========================================
//
//=========================================