/*
    SPECIAL.CSS

    - Last updated: 13.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.primary-color {
    color: $primary-color;
}

.no-bottom-margin {
	margin-bottom: 0;
}

//-----------------------------------------------------------------
// MMenu - Jono Updates
//-----------------------------------------------------------------

.mm-list,
.mm-list > li {
	font-size: 16px;

	@media #{$medium-up} {
	    font-size: 18px;
	}
}

.mm-list > li > a,
.mm-list > li > span {
	padding: rem-calc(12 10 12 20);

	@media #{$medium-up} {
	    padding: rem-calc(15 10 15 20);
	}
}

//-----------------------------------------------------------------
// Page Curl
//-----------------------------------------------------------------

.has-page-curl .img {
	position: relative;
	z-index: 1;

	img {
		border: 3px solid white;
		border-radius: 2px;
	}
}

.has-page-curl .img:after {
	position: absolute;
	width: 90%;
	height: 50%;
	content: "";
	right: 7px;
	bottom: 13px;
	background: transparent;
	z-index: -1;

	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
	        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);

	-webkit-transform: skew(5deg) rotate(2deg);
	   -moz-transform: skew(5deg) rotate(2deg);
	    -ms-transform: skew(5deg) rotate(2deg);
	     -o-transform: skew(5deg) rotate(2deg);
	        transform: skew(5deg) rotate(2deg);
}

//=========================================
// Just Incase
//=========================================

// .mfp-wrap img.mfp-img {
// 	border-radius: 2px;
// 	padding: 2px;
// 	background: white;
// }

// figure {
// 	padding: 40px 0;
// 	background: transparent;
// }

//-----------------------------------------------------------------
// Has Image Bottom Aligned
//-----------------------------------------------------------------

.has-image-bottom-aligned .img {
	@media #{$xxlarge-up} {
		position: relative;
	    top: rem-calc(90);
	}
}