/*
    SPECIAL.CSS (shame.css)

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.primary-color {
    color: $primary-color;
}

//-----------------------------------------------------------------
// Page Curl
//-----------------------------------------------------------------

.has-page-curl .img {
	position: relative;
}

.has-page-curl .img:after {
	position: absolute;
	width: 90%;
	height: 50%;
	content: "";
	right: 7px;
	bottom: 13px;
	background: transparent;
	z-index: -1;

	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
	        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);

	-webkit-transform: skew(5deg) rotate(2deg);
	   -moz-transform: skew(5deg) rotate(2deg);
	    -ms-transform: skew(5deg) rotate(2deg);
	     -o-transform: skew(5deg) rotate(2deg);
	        transform: skew(5deg) rotate(2deg);
}

//=========================================
//
//=========================================