<!-- CONTENT SECTION -->
<section class="section {{include.theme}}">
	<div class="row outer-row">
		<div class="columns">

			<div class="headline">
				<h2>About Us</h2>
				<h3 class="subheader">Local, Reliable &amp; Affordable</h3>
			</div>

			<div class="row">
				<div class="large-8 large-push-4 columns">
					<img width="100%" src="/img/content/team-photo.png">
				</div>
				<div class="large-4 large-pull-8 columns">
					<p>That's right, WE GET IT! At Signlab we understand the importance of Customer Service as it has been lacking in the signage industry for many years. So not only will you recieve affordable quality signs and signwriting, you will also benefit from exceptional customer service.</p>
					<br>
					<p><a href="#" class="button radius">Learn More</a></p>
				</div>
			</div> <!-- .row -->

		</div> <!-- .columns -->
	</div> <!-- .row -->
</section> <!-- .section -->