<section id="{{ include.title | slugify }}" class="section {{ include.classes }}{% if include.page_curl %}has-page-curl{% endif %} {% if include.img_down %}has-image-bottom-aligned{% endif %} {{ include.theme }} fadeIn">
	<div class="row outer-row">
		<div class="columns">

			<div class="headline">
				<h2>{{ include.title }}</h2>
				<h3 class="subheader">{{ include.subheader }}</h3>
			</div>

			{{ include.body }}

		</div> <!-- .columns -->
	</div> <!-- .row -->
</section> <!-- .section -->