<!-- GALLERY SLIDER MODULE -->
<div class="js-gallery-slider">
	<div class="row">
		<div class="large-8 large-push-4 columns">

			<!-- Slides -->
			<div class="slider slider-for">
				{% for i in (1..6) %}
					<div><img width="100%" src="http://placehold.it/670x450&text={{forloop.index}}" alt="..."></div>
				{% endfor %}
			</div>

		</div>
		<div class="large-4 large-pull-8 columns">

			<!-- Nav -->
			<ul class="slider slider-nav">
				<li class="active"><a class="button" href="">3-Dimensional Signage <span class="arrow-box"></span></a></li>
				<li><a class="button" href="">Composite Panel Signs <span class="arrow-box"></span></a></li>
				<li><a class="button" href="">Illuminated and Neon Signage <span class="arrow-box"></span></a></li>
				<li><a class="button" href="">'A' Frame Signs <span class="arrow-box"></span></a></li>
				<li><a class="button" href="">Shopfront &amp; Building Signage <span class="arrow-box"></span></a></li>
				<li><a class="button" href="">Safety OH&amp;S Site Signs <span class="arrow-box"></span></a></li>
			</ul>

		</div>
	</div> <!-- .row -->
</div> <!-- .js-gallery-slider -->