<!-- HERO MODULE -->
<div class="lv-hero-module">

    <!-- Hero Item -->
    <div class="lv-hero" style="background-image: url('/img/content/banner-1.jpg')" data-background-image="{{ hero.image | prepend: site.assets }}">
        <div class="row row-outer lv-vertical-center text-center">
            <div class="columns">
                <div class="lv-hero-caption animated text-center"> <!-- Leave here -->

                    <h1>We Make Signs for Adelaide</h1>

                    <div class="lv-hero-caption-body">
                        <p><a class="button radius" href="#">About Us</a>
                        <a class="button secondary-button radius" href="#">Contact Us</a></p>
                    </div>

                </div> <!-- .lv-hero-caption -->
            </div> <!-- .columns -->

        </div> <!-- .row -->
    </div> <!-- .lv-hero -->

</div> <!-- .lv-hero-module -->