{% assign hero_image = "/img/content/banner-2.jpg" %}

<!-- HERO MODULE -->
<div class="lv-hero-module promo-style">

    <!-- MOBILE ONLY -->
    <img class="hide-for-xlarge-up" src="{{ hero_image }}">

    <!-- HERO ITEM -->
    <div
        class="lv-hero"
        style="background-image: url('{{ hero_image | prepend: site.assets }}')"
        data-background-image="{{ hero_image | prepend: site.assets }}"
    >
        <!-- VIDEO -->
        {% if page.hero_video %}
            {% include hero/hero__html5_video_plugin.html %}
        {% endif %}

        <div class="lv-hero-caption animated">

            <div class="lv-vertical-center">
                <h1>3-Dimensional<br> Signage</h1>

                <div class="lv-hero-caption-body">
                    <p>3M Preferred Graphics installers<br> 36 Month Warranty<br> Free loan vehicle</p>

                    <ul class="lv-inline-list small-gaps text-center xlarge-text-left">
                        <li><a class="button secondary-button radius" href="#contact">Get A Quote</a></li>
                        <li><a class="button knockout radius" href="#complimentary-design">Learn More</a></li>
                    </ul>

                </div>
            </div>

        </div> <!-- .lv-hero-caption -->
    </div> <!-- .lv-hero -->
</div> <!-- .lv-hero-module -->