{% assign hero = "/img/content/banner-1.jpg" %}

<!-- HERO MODULE -->
<div class="lv-hero-module default-style">

    <!-- Hero Item -->
    <div class="lv-hero" style="background-image: url('{{ hero | prepend: site.assets }}')" data-background-image="{{ hero | prepend: site.assets }}">
        <div class="overlay show-for-small-only"></div>

        <div class="row row-outer lv-vertical-center text-center">
            <div class="columns">

                <div class="lv-hero-caption animated text-center"> <!-- Leave here -->

                    <h1>We Make Signs for Adelaide</h1>

                    <div class="lv-hero-caption-body">
                        <p><a class="button radius" href="#about-us">About Us</a>
                        <a class="button secondary-button radius" href="#contact-form">Contact Us</a></p>
                    </div>

                </div> <!-- .lv-hero-caption -->
            </div> <!-- .columns -->

        </div> <!-- .row -->
    </div> <!-- .lv-hero -->

</div> <!-- .lv-hero-module -->