{% assign hero_image = "/img/content/banner-2.jpg" %}

<!-- HERO MODULE -->
<div class="lv-hero-module promo-style">

    <!-- Hero Item -->
    <div class="lv-hero" style="background-image: url('{{ hero_image | prepend: site.assets }}')" data-background-image="{{ hero_image | prepend: site.assets }}">

        <div class="lv-hero-caption animated"> <!-- Leave here -->

            <div class="lv-vertical-center">
                <h1>Van Wraps</h1>

                <div class="lv-hero-caption-body">
                    <p>3M Preferred Graphics installers<br> 36 Month Warranty<br> Free loan vehicle</p>

                    <ul class="lv-inline-list small-gaps text-center medium-text-left">
                        <li><a class="button secondary-button radius" href="#">Get A Quote</a></li>
                        <li><a class="button knockout radius" href="#">Learn More</a></li>
                    </ul>


                </div>
            </div>

        </div> <!-- .lv-hero-caption -->

    </div> <!-- .lv-hero -->

</div> <!-- .lv-hero-module -->