<!-- HOVER TABS MODULE -->
<div class="hover-tabs">
	<div class="row">
		<div class="large-7 large-push-5 columns">

			<ul class="hover-tabs-images show-for-medium-up">
				{% for i in (1..6) %}
					<li><img width="100%" src="http://placehold.it/670x450&text={{forloop.index}}" alt="..."></li>
				{% endfor %}
			</ul>

		</div>
		<div class="large-5 large-pull-7 columns">

			<!-- Hover Tabs Nav -->
			<ul class="hover-tabs-nav">
				<li><a class="button" href="#">3-Dimensional Signage <span class="arrow-box"></span></a></li>
				<li><a class="button" href="#">Composite Panel Signs <span class="arrow-box"></span></a></li>
				<li><a class="button" href="#">Illuminated and Neon Signage <span class="arrow-box"></span></a></li>
				<li><a class="button" href="#">'A' Frame Signs <span class="arrow-box"></span></a></li>
				<li><a class="button" href="#">Shopfront &amp; Building Signage <span class="arrow-box"></span></a></li>
				<li><a class="button" href="#">Safety OH&amp;S Site Signs <span class="arrow-box"></span></a></li>
			</ul>

		</div>
	</div> <!-- .row -->
</div> <!-- .hover-slider -->