<!-- Checkbox JQuery - Open Dropdowns -->
<script>
	window.onload = function(){
		$('.checkbox').click(function() {
			var checked = $('input[type=checkbox]', $(this)).prop('checked');
		    if (!checked) {
		    	$(this).removeClass('has-open-dropdown').next('.form-dropdown').addClass('hide').removeClass('animated fadeIn');
		    } else {
		    	$(this).addClass('has-open-dropdown').next('.form-dropdown').removeClass('hide').addClass('animated fadeIn');
		    }
		});
	}
</script>

<!-- ORDER FORM -->

<form data-abide action="/" id="order-form" method="post" novalidate="novalidate">

	<!-- ************************** ROW ************************** -->

	<div class="row">

		<!-- Company Name -->
		<div class="large-4 columns">
			{% include micro/input_text.html title="Company name" %}
		</div>

		<!-- Your Name -->
		<div class="large-4 columns">
			{% include micro/input_text.html title="Your Name" %}
		</div>

		<!-- Phone -->
		<div class="large-4 columns">
			{% include micro/input_text.html title="Phone" %}
		</div>

	</div>

	<!-- ************************** ROW ************************** -->

	<div class="row">

		<!-- Order Number -->
		<div class="large-6 columns">
			{% include micro/input_text.html title="Order number" %}
		</div>

		<!-- Deceased Name -->
		<div class="large-6 columns">
			{% include micro/input_text.html title="Deceased name" %}
		</div>

	</div>

	<!-- ************************** ROW ************************** -->

  	<div class="row">

  		<!-- Size -->
  		<div class="large-4 columns">
  			{% include micro/select.html title="Size" %}
  		</div>

  		<!-- Theme -->
  		<div class="large-4 columns">
  			{% include micro/select.html title="Theme (optional)" %}
  		</div>

		<!-- Date Needed -->
		<div class="large-4 columns">
            {% include micro/input_date.html title="Date Needed" %}
		</div>

  	</div>

	<!-- ************************** ROW ************************** -->

	<!-- Personalised Message -->
    <div class="row hide">
		<div class="columns">
			{% include micro/textarea.html title="Personalised Message" %}
		</div>
	</div>

	<!-- ************************** ROW ************************** -->

	<div class="row">

		<!-- Delivery -->
		<div class="large-4 columns">
            {% include micro/checkbox.html title="Delivery" %}

				<!-- ************ ROW ************ -->

				<!-- Delivery Address -->
				<div class="form-dropdown hide">
				    <div class="row">
						<div class="columns">
							{% include micro/textarea.html title="Delivery address" %}
						</div>
					</div>
				</div>

		</div>

		<!-- Personalised Message -->
		<div class="large-4 end columns">
        	{% include micro/checkbox.html title="Personalised message" %}

				<!-- ************ ROW ************ -->

				<!-- Message -->
				<div class="form-dropdown hide">
	        	    <div class="row">
	        			<div class="columns">
	        				{% include micro/textarea.html title="Personalised Message" %}
	        			</div>
	        		</div>
        		</div>
		</div>

	</div>

	<!-- ************************** ROW ************************** -->

	<div class="row">
		<div class="columns">

			<!-- File Attachment Boxw -->
			<div class="file-attachment-box">
				<div class="row collapse">
					<div class="medium-3 large-2 columns">
						<p>Upload Images</p>
					</div>
			  		<div class="medium-5 large-4 end columns">
			  			{% include micro/input_file.html title="Attach images" %}
			  		</div>
				</div>
			</div>

		</div>
	</div>

	<!-- ************************** ROW ************************** -->

	<!-- Submit -->
	<div class="row">
		<div class="columns text-center medium-text-right">
			<br class="show-for-small-only">
			{% include micro/input_submit.html title="Submit Request" %}
		</div>
	</div>

</form>