<!-- CONTENT SECTION -->
<section id="{{ include.id }}" class="section has-page-curl {{ include.theme }} fadeIn">
	<div class="row outer-row">
		<div class="columns">

			<div class="headline">
				<h2>Showcase</h2>
			</div>

			<a class="headline-back" href="#"><i class="fa fa-angle-left"></i> BACK TO SHOWCASE</a>

			<div class="row">
				<div class="large-7 large-push-5 columns">
					<p class="img"><img width="100%" src="http://lorempixel.com/400/200"></p>
				</div>
				<div class="large-5 large-pull-7 columns">
					<h4 class="subheader">Blue Chrome Ute Wrap</h4>
					<p><date>26 Nov 2014</date></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi</p>
					<br>
					<p><a href="#" class="button radius">Learn More</a></p>
				</div>
			</div> <!-- .row -->

			<hr>
			<p>
				<a class="left" href="#"><i class="fa fa-angle-left"></i> Previous</a>
				<a class="right" href="#">Next <i class="fa fa-angle-right"></i></a>
			</p>

		</div> <!-- .columns -->
	</div> <!-- .row -->
</section> <!-- .section -->