<form data-abide novalidate method="post" action="#/example-url.aspx" enctype="multipart/form-data">
	<div class="row">

		<!-- Name -->
		<div class="large-4 columns">
			<label><!-- Your name <small>required</small> -->
				<input name="name" type="text" placeholder="Name (required)" required>
			</label>
			<small class="error">Your name is required.</small>
		</div>

		<!-- Phone -->
		<div class="large-4 columns">
			<label><!-- Phone -->
				<input name="phone" type="text" placeholder="Phone (required)" required>
			</label>
			<small class="error">Please try again.</small>
		</div>

		<!-- Email -->
		<div class="large-4 columns">
			<label><!-- Email <small>required</small> -->
				<input name="email" type="email" placeholder="Email (required)" required>
			</label>
			<small class="error">A valid email address is required.</small>
		</div>

	</div> <!-- .row -->

	<!-- Message -->
	<div class="row">
		<div class="columns">
			<label><!-- Your message <small>required</small> --></label>
			<textarea rows="10" name="message" placeholder="Message (required)" required></textarea>
			<small class="error">Please enter a message.</small>
		</div>
	</div>

	<!-- Submit -->
	<div class="row">
		<div class="medium-8 columns">
			<div class="row">
				<div class="medium-7 large-6 columns">
					<input type="file" name="fileToUpload" id="fileToUpload">
				</div>
				<div class="medium-5 large-6 columns">
					<div class="input-newsletter">
						<input id="checkbox1" type="checkbox"><label for="checkbox1">Get Our Newsletter</label>
					</div>
				</div>
			</div> <!-- .row.collapse -->
		</div>
		<div class="medium-4 columns text-center medium-text-right">
			<button type="submit" class="button radius">Send Message</button>
		</div>
	</div> <!-- .row -->

</form>