<!DOCTYPE html>
<!--[if lt IE 9]>       <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>          <html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Custom designed artwork for a truely personalised funeral">
    <title>...</title>

    <!-- CDN -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300italic,400italic,700italic,400,300,700">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

    <!-- build:css({src,.tmp}) /assets/css/minified-microsite.css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/frank-siebert.css">
    <!-- endbuild -->

    <!-- DYNAMIC STYLES -->
    <style>
        .fjs-header,
        .fjs-footer,
        .fjs-filter-list li.active a,
        .button {
            background-color: #3b3b3b;
        }
    </style>
</head>
<body>
    <div class="lv-super">

        <!-- HEADER -->
        <header class="fjs-header">
            <div class="row">
                <div class="columns text-center">
                    <a class="logo" href="/" title="Frank Siebert Funeral Directors" itemprop="url">
                        <img src="/img/content/logo-frank-siebert@2x.png" alt="Frank Siebert Funeral Directors" itemprop="logo">
                    </a>
                </div>
            </div>
        </header>

        <!-- PERSONALISED PORTFOLIO -->
        <section class="fjs-section">
            <div class="row">
                <div class="medium-10 medium-centered large-12 columns text-center">
                    <h2>Personalised Portfolio</h2>
                    <p class="lead">Custom designed artwork for a truely personalised funeral</p>
                </div>
            </div>
        </section>

        <!-- FILTER + GALLERY -->
        <div class="fjs-filter-group">

            <!-- FILTER -->
            <div class="row">
                <div class="columns">
                    <ul class="fjs-filter-list small-block-grid-3 medium-block-grid-7 text-center">
                        <li class="active"><a href="#" data-filter="all">All</a></li>
                        <li><a href="#" data-filter="nature">Nature</a></li>
                        <li><a href="#" data-filter="sport">Sport</a></li>
                        <li><a href="#" data-filter="places">Places</a></li>
                        <li><a href="#" data-filter="hobbies">Hobbies</a></li>
                        <li><a href="#" data-filter="animals">Animals</a></li>
                        <li><a href="#" data-filter="misc">Misc</a></li>
                    </ul>
                </div>
            </div>

            <!-- GALLERY -->
            <ul class="fjs-gallery">
                <li data-group=",nature,sport,misc,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-1.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-1.jpg">
                    </a>
                </li>
                <li data-group=",nature,hobbies">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-2.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-2.jpg">
                    </a>
                </li>
                <li data-group=",misc,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-3.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-3.jpg">
                    </a>
                </li>
                <li data-group=",nature,animals,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-4.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-4.jpg">
                    </a>
                </li>
                <li data-group=",hobbies,animals,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-5.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-5.jpg">
                    </a>
                </li>
                <li data-group=",sport,misc,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-6.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-6.jpg">
                    </a>
                </li>
                <li data-group=",hobbies,animals,misc,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-7.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-7.jpg">
                    </a>
                </li>
                <li data-group=",sport,places,misc,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-8.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-8.jpg">
                    </a>
                </li>
            </ul>

        </div> <!-- /.fjs-filter-group -->

        <!-- PERSONALISED PORTFOLIO -->
        <section class="fjs-section">
            <div class="row">
                <div class="medium-10 medium-centered large-12 columns text-center">
                    <h2>Themed Portfolio</h2>
                    <p class="lead">Choose from our range of themed designs</p>
                </div>
            </div>
        </section>

        <!-- FILTER + GALLERY -->
        <div class="fjs-filter-group">

            <!-- FILTER -->
            <div class="row">
                <div class="columns">
                    <ul class="fjs-filter-list small-block-grid-3 medium-block-grid-7 text-center">
                        <li class="active"><a href="#" data-filter="all">All</a></li>
                        <li><a href="#" data-filter="nature">Nature</a></li>
                        <li><a href="#" data-filter="sport">Sport</a></li>
                        <li><a href="#" data-filter="places">Places</a></li>
                        <li><a href="#" data-filter="hobbies">Hobbies</a></li>
                        <li><a href="#" data-filter="animals">Animals</a></li>
                        <li><a href="#" data-filter="misc">Misc</a></li>
                    </ul>
                </div>
            </div>

            <!-- GALLERY -->
            <ul class="fjs-gallery">
                <li data-group=",nature,sport,misc,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-1a.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-1a.jpg">
                    </a>
                </li>
                <li data-group=",nature,hobbies">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-2a.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-2a.jpg">
                    </a>
                </li>
                <li data-group=",misc,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-3a.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-3a.jpg">
                    </a>
                </li>
                <li data-group=",nature,animals,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-4a.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-4a.jpg">
                    </a>
                </li>
                <li data-group=",hobbies,animals,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-5a.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-5a.jpg">
                    </a>
                </li>
                <li data-group=",sport,misc,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-6a.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-6a.jpg">
                    </a>
                </li>
                <li data-group=",hobbies,animals,misc,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-7a.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-7a.jpg">
                    </a>
                </li>
                <li data-group=",sport,places,misc,">
                    <a title="Casket Option" href="{{site.assets}}/img/content/frank-siebert/coffin-8a.jpg">
                        <img width="100%" src="/img/content/frank-siebert/coffin-8a.jpg">
                    </a>
                </li>
            </ul>

        </div> <!-- /.fjs-filter-group -->

        <!-- ORDER FROM SECTION -->
        <section class="fjs-section">
            <div class="row">
                <div class="columns">
                    <h2 class="text-center">Online Order</h2>
                    <br>
                    <br>
                    {% include fjs_order_form.html %}
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="fjs-footer">
            <div class="row">
                <div class="columns text-center">
                    <a class="back-link" href="/">BACK TO WEBSITE</a>
                    <div>
                        <a class="logo" href="/"><img src="/img/content/logo-casket-co@2x.png" alt="Casket Co of Australia"></a>
                        <p>&copy; 2016 Casket Co of Australia. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>

    </div> <!-- .lv-super -->

    <!--[if lt IE 9]>
    <div class="lv-alert lv-unselectable">
        <p>Your browser is out of date. Please <a href="http://outdatedbrowser.com">upgrade</a> to better experience the web.</p>
        <span class="lv-alert-close">&times;</span>
    </div>
    <![endif]-->

    <!-- **** JAVASCRIPT **** -->

    <!-- build:js(src) /assets/scripts/minified-microsite.js -->
    <script src="/_bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/_bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/_bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/_bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="/_bower_components/foundation/js/foundation/foundation.abide.js"></script>
    <script src="/_bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/scripts/jquery-ui.js"></script>
    <script src="/scripts/date-picker.js"></script>
    <script src="/scripts/fjs-filter.js"></script>
    <script src="/scripts/fjs-main.js"></script>
    <!-- endbuild -->

    <script>
        $(document).foundation();
    </script>

    <!-- No Javascript Warning -->
    <noscript>
        <div class="lv-alert lv-unselectable">
            <p>Your browser has Javascript disabled. Some features may be limited.</p>
        </div>
    </noscript>

</body>
</html>