---
layout: master
---

<!-- HERO -->
{% include hero.html %}

<!-- ABOUT US -->
{% capture section_body %}
	<div class="row">
		<div class="large-8 large-push-4 columns">
			<p class="img"><img width="100%" src="http://lorempixel.com/400/200"></p>
		</div>
		<div class="large-4 large-pull-8 columns">
			<p>That's right, WE GET IT! At Signlab we understand the importance of Customer Service as it has been lacking in the signage industry for many years. So not only will you recieve affordable quality signs and signwriting, you will also benefit from exceptional customer service.</p>
			<br>
			<p><a href="#" class="button">Learn More</a></p>
		</div>
	</div> <!-- .row -->
{% endcapture %}
{% include content_section.html theme="light-theme" page_curl=false title="About Us" subheader="Local, Reliable &amp; Affordable" body=section_body %}

<!-- SIGNAGE -->
{% capture section_body %}{% include hover_tabs.html %}{% endcapture %}
{% include content_section.html theme="dark-theme" page_curl=true title="Signage" subheader="1440dpi Print" body=section_body %}

<!-- BANNERS -->
{% capture section_body %}{% include hover_tabs.html %}{% endcapture %}
{% include content_section.html theme="light-theme" page_curl=true title="Banners" subheader="1440dpi Print" body=section_body %}

<!-- VEHICLES -->
{% capture section_body %}{% include hover_tabs.html %}{% endcapture %}
{% include content_section.html theme="dark-theme" page_curl=true title="Vehicles" subheader="Wraps and Graphics" body=section_body %}

<!-- FOOTER -->
<footer class="footer">
    {% include footer.html order_map_top=false %}
</footer>