---
layout: master
---

{% assign settings = site.data.settings %}
{% assign gallery_image_count = 12 %}

<div class="homepage">



	{% include hero.html %}

	{% include hero_alternate.html %}

	{% include hero_collage.html %}

	{% include content_section.html theme="normal" id="about-us" %}

	<!-- HOVER TABS -->
	<section class="section section-dark fadeIn">
		<div class="row outer-row">
			<div class="columns">

				<div class="headline">
					<h2>Signage</h2>
					<h3 class="subheader">1440dpi Print</h3>
				</div>

				{% include hover_tabs.html %}

			</div> <!-- .columns -->
		</div> <!-- .row -->
	</section> <!-- .section -->

	<!-- GALLERY SECTION -->
	<section class="section fadeIn">
		<div class="row outer-row">
			<div class="columns">

				<div class="headline">
					<h2>Van Wrap Gallery</h2>
					<h3 class="subheader">36 Month Warranty</h3>
				</div>

				<div class="row">
					<div class="columns">
						<p>More Van Wraps completed here in Adelaide to view on our <a href="{{ settings.facebook }}">Facebook</a> or <a href="{{ settings.google_plus }}">Google Plus pages.</a></p>

						<br>

						<ul class="gallery-module">
							{% for i in (1..gallery_image_count) %}
								<li class="{% if i > 8 %}hide excess{% endif %}"><a title="Gallery Item {{forloop.index}}" href="http://placehold.it/576x366"><img src="http://placehold.it/576x366"></a></li>
							{% endfor %}
						</ul>

						{% if gallery_image_count > 8 %}
							<br>
							<p class="text-right"><a class="item-expander" href="#">See More <i class="fa fa-angle-up fa-angle-down"></i></a></p>
						{% endif %}

					</div>
				</div> <!-- .row -->

			</div> <!-- .columns -->
		</div> <!-- .row -->
	</section> <!-- .section -->

	<!-- CLIENTS -->
	<section class="section section-dark fadeIn">
		<div class="row outer-row">
			<div class="columns">

				<div class="headline">
					<h2>Our Clients</h2>
					<h3 class="subheader">and Friends</h3>
				</div>

				<div class="row">
					<div class="columns">
						<!-- Slider Module Horizontal -->
						<ul class="horizontal-slider-module">
							{% for i in (1..8) %}
								<li><a href="#"><img src="http://placehold.it/200x127" alt="..."></a></li>
							{% endfor %}
						</ul>
						<div class="swipe-right-icon show-for-small-only"></div>
					</div>
				</div>

			</div> <!-- .columns -->
		</div> <!-- .row -->
	</section> <!-- .section -->

	{% include showcase_section.html %}

</div> <!-- .homepage -->