---
layout: master
---

{% assign settings = site.data.settings %}
{% assign hero = "/img/content/personalised-lifestyle-picture-coffin-adelaide.jpg" %}

<!-- ADHOC STYLES - FOR DEMO PURPOSES ONLY -->
<style>
	a,
	.section .headline h2 {
		color: #5152bc;
	}

	.section .headline h2:after,
	.divider:after {
		background: #5152bc;
	}

	.button {
		background: #6766cc;
	}

	.button:hover,
	.button:focus {
		background-color: #5152bc;
	}

	.subheader {
		color: #8584f2;
	}

	.lv-hero h1 {
		text-transform: lowercase;
		font-family: 'Courier New';
		font-size: 40px;
		font-weight: 500;
	}
</style>

<!-- HERO MODULE -->
<div class="lv-hero-module is-fullscreen default-style">

    <!-- HERO -->
    <div class="lv-hero" style="background-image: url('/assets/img/content/personalised-lifestyle-picture-coffin-adelaide.jpg')">
		<iframe id="ytplayer" class="video" width="100%" height="390" type="text/html" src="https://www.youtube.com/embed/Mn9vK2zmb3c?controls=0&t=31s&showinfo=0&rel=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>

        <!-- DOWNWARDS ARROW -->
        <a class="lv-hero-arrow-scroll" href="#tagline"><i class="fa fa-angle-down"></i></a>

    </div> <!-- .lv-hero -->
</div> <!-- .lv-hero-module -->

<script>
	//-----------------------------------------------------------------
	// APPLIES HAS-LOADED FLAG, LIMIT TO 3+ Seconds
	// Gives time for the video to setup and load
	//-----------------------------------------------------------------

	var html = document.documentElement;

	// Limit to 3+ seconds of waiting time
	setTimeout(function(){
	    html.className += ' has-loaded';
	}, 3600);

	//-----------------------------------------------------------------
	// YOUTUBE
    // This code loads the IFrame Player API code asynchronously.
    //-----------------------------------------------------------------

    var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('ytplayer', {
            events: {
                'onReady': onPlayerReady
            }
        });
    }
    function onPlayerReady() {
        player.playVideo();
        player.mute(); // Muted by default
    }
</script>

<!-- YOUTUBE EMBED BACKUP FOR MOBILE -->
<div class="hide-for-medium-up">
	{% capture section_body %}
		<div class="row">
			<div class="columns">
				<iframe width="100%" height="240" src="https://www.youtube.com/embed/Mn9vK2zmb3c" frameborder="0" allowfullscreen></iframe>
			</div>
		</div> <!-- .row -->
	{% endcapture %}
	{% include content_section.html theme="light-theme" img_down=true page_curl=false title="Watch Our New Video" subheader="" body=section_body %}
</div>

<!-- DESIGN YOUR OWN COFFIN -->
{% capture section_body %}
	<div class="row">
		<div class="large-6 large-push-6 columns">
			<p class="img"><img width="100%" src="/img/content/coffin-design.png" alt="Coffin Design"></p>
		</div>
		<div class="large-6 large-pull-6 columns">
			<div class="large-11">
				<p>You can supply your own images or ideas to create your own customised Lifestyle Coffin. A beautiful photo from a wedding day, a family picture from that summer holiday at the beach, or a picture of a much-loved pet, are commonly submitted images that families send to create their special coffin design. Or you can search the stock photo websites for high resolution images to use in the design.<br>
				<a target="_blank" href="http://www.istockphoto.com.au">http://www.istockphoto.com.au</a> or <a target="_blank" href="http://www.shutterstock.com">www.shutterstock.com</a></p>
			</div>
		</div>
	</div> <!-- .row -->
{% endcapture %}
{% include content_section.html theme="light-theme" img_down=true page_curl=false title="Design Your Own Coffin" subheader="personalised tribute" body=section_body %}

<!-- FORM BEGINS -->
<form data-abide novalidate method="post" action="#" enctype="multipart/form-data">

	{% assign coffin_pieces = "Lid,Left Side,Right Side,Head End,Foot End" | split: ',' %}

	{% for item in coffin_pieces %}

		<!-- DIVIDER -->
		<div class="row outer-row">
			<div class="columns">
				<div class="divider"></div>
			</div>
		</div>

		<!-- COFFIN PIECE -->
		{% capture section_body %}
		<section class="section-upload">
			<div class="row">
				<div class="large-5 columns">
					{% assign file_title_1 = item | append: '-1' | slugify %}
					{% include micro/input_file_coffin.html title=file_title_1 required="required" %}
					<br>
					<div class="hide" data-upload-multiple>
						{% assign file_title_2 = item | append: '-2' | slugify %}
						{% include micro/input_file_coffin.html title=file_title_2 %}
						<br>
						{% assign file_title_3 = item | append: '-3' | slugify %}
						{% include micro/input_file_coffin.html title=file_title_3 %}
						<br>
						{% assign file_title_4 = item | append: '-4' | slugify %}
						{% include micro/input_file_coffin.html title=file_title_4 %}
					</div>
				</div>
				<div class="large-7 text-right columns">
					<button class="button" data-upload-multiple-trigger>Upload more images</button>
				</div>
			</div>
		</section>
		{% endcapture %}
		{% include content_section.html theme="light-theme" img_down=true page_curl=false title=item body=section_body classes="has-no-underline" %}

	{% endfor %}

	<!-- DIVIDER -->
	<div class="row outer-row">
		<div class="columns">
			<div class="divider"></div>
			<br>
			<br>
		</div>
	</div>

	<!-- FOOTER TOP -->
	<section id="contact" class="footer-top section fadeIn">
		<div class="row outer-row">
			<div class="columns">
				<p>Once you have uploaded all your images please complete your details below and pay the $220 artwork deposit fee. Upon receipt of payment, our graphic designers will get to work putting your ideas and images together to produce a stunning tribute to your loved one. We will send your personalised coffin design by email for your approval or you can make changes if you wish. Your design will be stored on our secure server for access whenever you require it.</p>
				<br>
				<br>

				<div class="row">

					<!-- NAME -->
					<div class="large-4 columns">
						<label><!-- Your name <small>required</small> -->
							<input name="name" type="text" placeholder="Name (required)" required>
						</label>
						<small class="error">Your name is required.</small>
					</div>

					<!-- PHONE -->
					<div class="large-4 columns">
						<label><!-- Phone -->
							<input name="phone" type="text" placeholder="Phone (required)" required>
						</label>
						<small class="error">Please try again.</small>
					</div>

					<!-- EMAIL -->
					<div class="large-4 columns">
						<label><!-- Email <small>required</small> -->
							<input name="email" type="email" placeholder="Email (required)" required>
						</label>
						<small class="error">A valid email address is required.</small>
					</div>

				</div> <!-- .row -->

				<!-- MESSAGE -->
				<div class="row">
					<div class="columns">
						<label><!-- Your message <small>required</small> --></label>
						<textarea rows="10" name="message" placeholder="Message - Please tell us about your loved one and your ideas for the coffin" required></textarea>
						<small class="error">Please enter a message.</small>
					</div>
				</div>

				<!-- PAYMENT OPTIONS (GRAPHIC) -->
				<div class="row">
					<div class="columns">
						<br>
						<p><img src="/img/content/payment-options.png" alt="Payment Options"></p>
						<br>
						<br>
						<br>
					</div>
				</div>

				<!-- SUBMIT -->
				<div class="row">
					<div class="columns">
						<button type="submit" class="button radius">Send Message</button>
					</div>
				</div> <!-- .row -->

			</div>
		</div>
	</section>

</form>

<!-- FOOTER -->
<footer class="footer">

	<!-- FOOTER TOP -->
	<section class="footer-top"></section>

    <!-- FOOTER MIDDLE -->
    <section class="footer-middle">
    	{% include snippets/google_map.html %}
    </section>

    <!-- FOOTER BOTTOM -->
    <section class="footer-bottom">
    	<div class="row">
    		<div class="columns">
    			<ul class="social-networks lv-inline-list text-center">
    				<li><a href="{{ settings.facebook }}"><i class="fa fa-facebook"></i></a></li>
    				<li><a href="{{ settings.google-plus }}"><i class="fa fa-google-plus"></i></a></li>
    				<li><a href="{{ settings.youtube }}"><i class="fa fa-youtube"></i></a></li>
    			</ul>
    			<p>&copy; 2017 Lifestyle Coffins. All Rights Reserved.</p>
    		</div>
    	</div>
    </section>
</footer>