---
layout: master
---

<!-- VAN WRAP GALLERY -->
{% capture section_body %}
	{% for i in (1..6) %}
		<div class="row">
			<div class="large-7 columns">
				<p class="img"><img width="100%" src="http://lorempixel.com/400/200"></p>
			</div>
			<div class="large-5 columns">
				<h4 class="subheader"><a href="/showcase/showcase-detail/">Blue Chrome Ute Wrap</a></h4>
				<p><date>26 Nov 2014</date></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi</p>
				<br>
				<p><a href="/showcase/showcase-detail/" class="button no-bottom-margin">Learn More</a></p>
			</div>
		</div> <!-- .row -->
		<hr>
	{% endfor %}
	<p>
		<a class="left" href="#"><i class="fa fa-angle-left"></i> Previous</a>
		<a class="right" href="#">Next <i class="fa fa-angle-right"></i></a>
	</p>
{% endcapture %}
{% include content_section.html theme="light-theme" page_curl=true title="Showcase" subheader="" body=section_body %}

<!-- FOOTER -->
<footer class="footer">
    {% include footer.html order_map_top=false %}
</footer>