{% assign title = include.title %}

<label>
	<div class="file-attachment">
		<input name="{{ title }}" type="file" aria-label="File browser" placeholder="Upload" value="" multiple required>
		<span class="field-validation-valid error" data-valmsg-for="{{ title | slugify }}" data-valmsg-replace="true">{{ title }} is required.</span>
	</div>
</label>


{% comment %}
	<label class="fileX">
		<input name="{{ title }}" type="file" aria-label="File browser" value="">
		<span class="file-customX"></span>
	</label>
{% endcomment %}