{% assign title = include.title %}
{% assign required = include.required %}
{% assign type = include.type %}
{% assign class = include.class %}

<label>
	<input data-val="true" data-val-required="The {{ title }} field is required." id="{{ title | slugify }}" name="{{ title }}" placeholder="{{ title }} {% if required %}(required){% endif %}" type="{{ type }}" value="" {% if required %}required{% endif %} class="{{class}}">
</label>

<span class="field-validation-valid error" data-valmsg-for="{{ title | slugify }}" data-valmsg-replace="true">{{ title }} is required.</span>